#car-details {
  display: flex;
}

#car-details-left {
  flex: 1;
  margin: 5px;
}

#car-details-right {
  flex: 1;
  margin: 5px
}

#car-details-info {
  font-size: 20px;
}

#car-image {
  max-width: 400px;
}

#calendar {
  font-size: 14px;
  display: flex;

}
