/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #e0e0e0;
    color: white;
}

.main-header input {
    width: 50%;
    padding: 5px;
    margin: 0 15px;
}

.main-header .icons {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
  width: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: auto;
  max-height: 91vh;
}

.car-list {
    margin-top: 20px;
}

.car-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-item:hover {
    background-color: #cce7ff;
}

.car-item img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.main-content {
    width: 70%;
    padding: 20px;
    height: 91vh;
}

#default-message {
    color: #ccc;
    font-size: 24px;
    text-align: center;
}

#car-details {
    display: flex;
    flex-direction: column;
}

.calendar {
    margin-top: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
