.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full viewport width */
    height: 100vh;
    background: #BC2026;
}

.sign-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
  border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#gamo-logo {
  padding-bottom: 25px;
  width: 200px;
}

input[id=sign-in-email], input[id=sign-in-password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[id=sign-in-button] {
    width: 100%;
    background-color: #BC2026;
  padding: 10px 0 10px 0;
  margin: 15px 0 5px 0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.sign-in-error {
  text-align: center;
  margin-top: 10px;
  color: #bc2026 !important;
}
