.car-list {
    margin-top: 20px;
}

.car-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-item:hover {
    background-color: #cce7ff;
}

.car-item img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}
