#default-message {
    color: #ccc;
    font-size: 24px;
    text-align: center;
}

#notification-default {
    color: #ccc;
    font-size: 24px;
    text-align: center;
}

#welcome-message {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}