/* styles.old_css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #e0e0e0;
    color: white;
}

.main-header input {
    width: 50%;
    padding: 5px;
    margin: 0 15px;
}

.main-header .icons {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
  width: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: auto
}

.car-list {
    margin-top: 20px;
}

.car-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-item:hover {
    background-color: #cce7ff;
}

.car-item img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.main-content {
    width: 70%;
    padding: 20px;
    height: 91vh;
}

#default-message {
    color: #ccc;
    font-size: 24px;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 10px 0;
}

#notification-default {
    color: #ccc;
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 0 14px;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #ccc;
}

ul li:hover ul.dropdown {
    display: block;
}