.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #bc2026;
}

.main-header input {
    width: 50%;
    padding: 5px;
    margin: 0 15px;
}

.main-header .icons {
    display: flex;
    gap: 10px;
}

#gamo-img {
    background-color: white;
    padding: 7px;
    border-radius: 5px;
}