.container {
    display: flex;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
}

body[data-page="reservations.html"] .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

/* Content Layout */
.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body[data-page="reservations.html"] .main-content {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
    overflow-y: auto;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 91vh;
}

