.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 10px 0;
}
