/* General Reset and Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 0 14px;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #ccc;
}

ul li:hover ul.dropdown {
    display: block;
}