<header class="main-header">
  <img src="../../static/sources/images/logo.svg" alt="GAMO" id="gamo-img">
  {% if role == 'admin' %}
  <a href="/logout">Odhlásiť sa</a>
  {% else %}
  <div class="icons">
    <ul>
        {% if role == 'manager' %}
          <li><a href="/manager/dashboard"><img src="{{ icons[3] }}" alt="Domcek" style="width: 24px;height: 24px"></a></li>
        {% endif %}
      <li><a href="/lease"><img src="{{ icons[4] }}" alt="Auticko" style="width: 30px;height: 30px"></a></li>
      <li>
        <a href="#"><img src="{{ icons[0] }}" alt="Zvoncek" style="width: 24px;height: 24px"></a>
        <ul class="dropdown">
          {% if notifications|length == 0 %}
            <p id="notification-default">Nemáte žiadne notifikácie.</p>
          {% else %}
            {% for notification in notifications %}
              <li>
                <h2>{{ notification[0] }}</h2><br>
                <p>{{ notification[1] }}</p>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
      <li>
        <a href="#"><img src="{{ icons[1] }}" alt="Panacik" style="width: 24px;height: 24px"></a>
        <ul class="dropdown">
          <li><a href="/reservations">Rezervácie</a></li>
          {% if role == 'manager' %}
            <li><a href="/manager/reports">Reporty</a></li>
          {% endif %}
          <li><a href="/logout">Odhlásiť sa</a></li>
        </ul>
      </li>
    </ul>
  </div>
  {% endif %}
</header>
