{% extends 'base/base.html' %}

{% block head %}
<!--<link rel="stylesheet" href="../../static/old_css/new_styles/lease.css">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='old_css/new_styles/calendar.css') }}">
<title>ICLS - Gamo</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
      <h1>lease</h1>
    </div>
</div>

<script src="{{ url_for('static', filename='js/lease.js' )}}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}