{% extends './base/base.html' %}

{% block head %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/calendar.css') }}">

<title>ICLS - Gamo</title>
{% endblock %}

{% block body %}
<div class="container">
  <div id="welcome-message"></div>
  <div id="calendar"></div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/Mdashboard.js' )}}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
{% endblock %}