{% extends 'base/base.html' %}

{% block head %}
<link rel="stylesheet" href="../../static/css/new_styles/private_requests.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/notifications.css') }}">
<title>ICLS - Gamo</title>
{% endblock %}

{% block body %}
<div id="default-message">Neexistujú žiadne požiadavky</div>
<div class="cards-container" id="cards-container">
</div>

<script src="{{ url_for('static', filename='js/private_requests.js' )}}"></script>
{% endblock %}

{% block script %}
{% endblock %}