{% extends 'base/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/reports.css') }}">
<title>ICLS - Reporty</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="card-container" id="card-container">
    {% if data|length < 1 %}
      <div id="default-message">Neexistuje žiadny report</div>
    {% else %}
      {% for report in data %}
        <div class="report-card">
          <h3>{{ report[0] }}</h3>
          <a href="/manager/get_report?report={{ report[0] }}">
            <img src="{{ report[2] }}" alt="stiahnuť" >
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/reports.js' )}}"></script>
{% endblock %}