{% extends 'base/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/cards.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/modals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/notifications.css') }}">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/reservations.css') }}">-->
<title>ICLS - Gamo</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="sidebar">
    <img src="{{ icons[1] }}" alt="{{ Pandrlác }}" style="width: 80px; height: 80px; border-radius: 50%;">
    <p>{{ username }}</p>
    <form action="/logout">
      <button>Odhlásenie</button>
    </form>
    {% if role == 'manager' %}
    <script></script>
      <select id="user-list">
        <option value="users">Používatelia</option>
      </select>
    {% endif %}

  </div>
  <div class="content">
    <div class="card-container" id="card-container">
      <div id="default-message">Neexistuje žiadna rezervácia!</div>
    </div>
  </div>

  <div class="modal-backdrop" id="modal-backdrop" onclick="closeModalF()"></div>
  <div class="modal" id="modal-lease-details">
    <h2 id="modal-car-name"></h2>
    <p id="modal-time-from"></p>
    <p id="modal-time-to"></p>
    <p id="modal-spz"></p>
    {% if role == 'manager' %}
      <p id="modal-user"></p>
    {% endif %}
    <button id="finish-reservation-button">Odovzdaj auto</button>
    <button id="scrap-reservation-button">Zruš rezerváciu</button>
    <button id="close-modal">Zatvor</button>
  </div>
  <div class="modal" id="modal-return-car">
    <label for="card-health">Stav Auta:</label>
    <select id="card-health">
      <option value="good">Dobrý</option>
      <option value="mild">Postačujúci</option>
      <option value="bad">Zlý</option>
    </select>
    <label for="card-location">Miesto návratu auta:</label>
    <select id="card-location">
      <option value="Banská Bystrica">Banská Bystrica</option>
      <option value="Bratislava">Bratislava</option>
      <option value="Košice">Košice</option>
    </select>
    <label for="note">Poznámka</label>
    <input type="text" id="note" placeholder="">
    <button id="return-car-button">Odovzdaj auto</button>
    <button id="stop-return-button">Zruš</button>
  </div>
  <div id="modal-status" class="modal-status">
    <div id="modal-inner">
      <h2></h2>
      <p></p>
      <button id="close-modal-status">OK</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/reservations.js' )}}"></script>
{% endblock %}