{% extends 'base/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/cards.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/modals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/notifications.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles/reservations.css') }}">
<title>ICLS - Gamo</title>
{% endblock %}

{% block body %}
<div class="container" id="reservation">
  <div class="sidebar">
    <img src="{{ icons[1] }}" alt="{{ Pandrlác }}" style="width: 80px; height: 80px; border-radius: 50%;">
    <h2>{{ username }}</h2>
    <form action="/logout">
      <button>Odhlásenie</button>
    </form>

    <h3>Filtre</h3>
    <div id="filters">
      {% if role == 'manager' %}
      <label for="user-list">Používatelia</label>
      <select id="user-list">
          <option value="">Všetci</option>
      </select>
      <label for="car-list">Autá</label>
      <select id="car-list">
        <option value="">Všetky</option>
      </select>
      {% endif %}
      <div class="checkbox-group">
        <div class="checkbox-item">
          <label for="status-true">Aktívna</label>
          <input type="checkbox" id="status-true" value="true" checked>
        </div>
        <div class="checkbox-item">
          <label for="status-false">Ukončená</label>
          <input type="checkbox" id="status-false" value="false">
        </div>
      </div>
      <label for="timeof">Od:</label>
      <input type="date" id="timeof">
      <label for="timeto">Do:</label>
      <input type="date" id="timeto">
      <br>
      <button id='filter' type="submit">Filtrovať</button>
    </div>

  </div>
  <div class="content">
    <div class="card-container" id="card-container">
      <div id="default-message">Neexistuje žiadna aktívna rezervácia!</div>
    </div>
  </div>

  <div class="modal-backdrop" id="modal-backdrop" onclick="closeModalF()"></div>
  <div class="modal" id="modal-lease-details">
    <h2 id="modal-car-name"></h2>
    <p id="modal-time-from"></p>
    <p id="modal-time-to"></p>
    <p id="modal-spz"></p>
    <p id="modal-state"></p>
    {% if role == 'manager' %}
      <p id="modal-user"></p>
    {% endif %}
    <button id="finish-reservation-button">Odovzdaj auto</button>
    <button id="scrap-reservation-button">Zruš rezerváciu</button>
    <button id="close-modal">Zatvor</button>
  </div>
  <div class="modal" id="modal-return-car">
    <label for="car-location">Miesto návratu auta:</label>
    <select id="car-location">
      <option value="Banská Bystrica">Banská Bystrica</option>
      <option value="Bratislava">Bratislava</option>
      <option value="Košice">Košice</option>
    </select>
    <label for="car-damaged">Je auto poškodené (špinavé)?</label><input type="checkbox" id="car-damaged">
    <div id="car-damaged-params" style="display: none;">
      <label for="car-dirty">Špinavé</label><input type="checkbox" id="car-dirty">
      <label for="car-int-dmg">Poškodený interiér</label><input type="checkbox" id="car-int-dmg">
      <label for="car-ext-dmg">Poškodený exteriér</label><input type="checkbox" id="car-ext-dmg">
      <label for="car-collision">Zrážka</label><input type="checkbox" id="car-collision">
      <label for="note">Poznámka</label><input type="text" id="note" placeholder="">
    </div>
    <button id="return-car-button">Odovzdaj auto</button>
    <button id="stop-return-button">Zruš</button>
  </div>
  <div id="modal-status" class="modal-status">
    <div id="modal-inner">
      <h2></h2>
      <p></p>
      <button id="close-modal-status">OK</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/reservations.js' )}}"></script>
{% endblock %}